<table class="table" cellspacing="0" style="max-height: 28px">
  <tbody>
    <tr>
      <th scope="row">Prekės pavadinimas</th>
      <th scope="row">Prekės kiekis</th>
      <th scope="row">Vieneto kaina</th>
      <th scope="row">Kaina</th>
    </tr>
    <tr *ngFor="let item of cartService.cart.items">
      <td>{{item.item.Name}}</td>
      <td>
        {{item.quantity}}
      </td>
      <td>{{item.item.DiscountedPrice}}</td>
      <td>{{item.item.DiscountedPrice*item.quantity}}</td>
      <td>
        <button (click)="cartService.addItem(item.item)" type="button" class="btn btn-primary mr-2 mb-2">
          Pridėti
        </button>
        <button (click)="cartService.removeFromCart(item)" type="button" class="btn btn-danger mb-2 mb-2">
          Panaikinti
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><h6>Viso</h6></td>
      <td><h6>€{{cartService.cart.price}}</h6></td>
      <td>
        <button (click)='continue()' type="button" class="btn btn-success" [disabled]="cartService.isEmpty()">
          Tęsti
        </button>
      </td>
    </tr>
  </tbody>
</table>