<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <namespace name ="MasyvaiPrasidedaVienetu.Interfaces"/>
  <assembly name ="Common"/>
  <namespace name ="MasyvaiPrasidedaVienetu.Services"/>
  <assembly name ="Services"/>
  <assembly name ="MasyvaiPrasidedaVienetu"/>
  <assembly name ="DAL"/>
  <namespace name ="MasyvaiPrasidedaVienetu.DAL"/>
  <namespace name ="MasyvaiPrasidedaVienetu.DataAccessLayer"/>
  <namespace name ="MasyvaiPrasidedaVienetu.Logging"/>
  <namespace name ="MasyvaiPrasidedaVienetu.Interfaces"/>
  <namespace name ="MasyvaiPrasidedaVienetu.WebEndpoints.Controllers"/>

  <container>
    <register type="ISessionService" mapTo="SessionService" >
      <lifetime type="ContainerControlledLifetimeManager"/>
    </register>

    <register type="IUserService" mapTo="UserService" >
      <lifetime type="ContainerControlledLifetimeManager"/>
    </register>

    <register type="ILogger" mapTo="FileLogger" >
      <lifetime type="ContainerControlledLifetimeManager"/>
    </register>

    <register type="ICategoryService" mapTo="CategoryService" >
      <lifetime type="ContainerControlledLifetimeManager"/>
    </register>

    <register type="IItemService" mapTo="ItemService" >
      <lifetime type="ContainerControlledLifetimeManager"/>
    </register>

    <register type="IDbService" mapTo="DbService" >
      <lifetime type="ContainerControlledLifetimeManager"/>
    </register>
  </container>

</unity>